body {
    font-family: 'David Libre', Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, p, h2 {
    text-align: center;
    margin: 20px 0;
}

.card-container {
    margin: 40px auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    max-width: 300px;
}

input {
    padding: 8px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

button {
    display: block;
    margin: 40px auto;
    padding: 10px 30px;
    background-color: #6766ca; /* Muy sweet */
    color: #f6f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9889f5; /* Muy sweet hover */
}

#resultado {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #3e3d3d;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    background-color: #919191;
    padding: 20px 0;
    text-align: center;
}

.footer-container p {
    margin: 0;
}
